<div class="page-title ng-scope">
    <div class="title-env">
        <h1 class="title">Change Password</h1>
        <p class="description">Change your password</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a ui-sref="app.adminDashboard" [routerLink]="['/officerdashboard']">
                    <i class="fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Change Passwod</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row ng-scope">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Password</h3>
            </div>
            <div class="panel-body">
                <form role="form" #myform="ngForm" name="myform" #changepassword="ngForm" class="form-horizontal" accept-charset="utf-8"
                    style="">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="oldPassword">Current Password</label>
                        <div class="col-sm-10">
                            <input type="password" [(ngModel)]="oldPassword" name="oldPassword" class="form-control ng-touched ng-dirty ng-valid-parse ng-not-empty ng-valid ng-valid-required"
                                id="oldPassword" placeholder="Current Password" required="" style="">
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                  
                    <div class="form-group ng-scope">
                        <label class="col-sm-2 control-label required" for="password">New Password</label>
                        <div class="col-sm-4">
                            <input type="password" [(ngModel)]="password" name="password" (keyup)="checkpassword($event.target.value)" class="form-control ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required"
                                id="newPassword" placeholder="Password" required="" style="">
                        </div>
                        <label class="col-sm-2 control-label required" for="retype">Re-Type Password</label>
                        <div class="col-sm-4">
                            <input type="password" [(ngModel)]="retype" name="retype" (keyup)="checkpassword1($event.target.value)" class="form-control ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required"
                                id="retype" placeholder="Re-type Password" required="" style="">
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-white">Cancel</button>
                            <button type="submit" class="btn btn-secondary" (click)="savepassword()" [disabled]="changepassword.form.invalid || !matchpassword">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>