<div class="page-container" style="margin-left: 1%;">

<div class="page-title">
    <div class="title-env">
        <h1 class="title" style="padding-left: 0.5%;">Terms and condition</h1>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li class=""><i class="fa-home"></i>
                 <strong>Terms and condition</strong></li>
                </ol>
            </div>
        </div>
      

<div class="row ng-scope" style="padding: 15px">
    <div class="col-md-12">
        <h2>Terms of Use</h2>
        <p>Pursuant to federal law, government-produced materials appearing on this site are not copyright protected. The United States Government may receive and hold copyrights transferred to it by assignment, bequest, or otherwise.</p></div><div class="col-md-12"><h2>Site Monitoring</h2><p>For site security purposes this government computer system employs software programs to monitor network traffic. Anyone using this system consents to the monitoring of their use by system or security personnel. Unauthorized use, tampering with or modification of this system—or its supporting hardware or software—may violate federal or other statutes and may subject the violator to criminal and civil penalties. In the event of unauthorized intrusion, all relevant information regarding possible violation of law may be provided to law enforcement officials.</p>
        </div>
    </div>

</div>